.m-index {
    #nav {
        width: 100%;
        height: .40rem;
        ul {
            width: 4.6rem;
            line-height: .40rem;
            li {
                font-size: .16rem;
                margin: 0 .10rem;
                float: left;
                height: .40rem;
                a {
                    color: #666;
                }
            }
            .active {
                color: $base-color;
                @include border(0 0 .06rem 0, solid $base-color);
            }
        }
    }
}